<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoF.My.MySettings.cStrDBLosArcos" connectionString="Data Source=DBLosArcos.mssql.somee.com;Initial Catalog=DBLosArcos;Persist Security Info=True;User ID=durbina23_SQLLogin_1;Password=9vnu4rctzj"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>